---
---

@charset "utf-8";
// variables.less
$theme-primary: #3c763d;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: initial;  
    max-width: 100%;
    height: auto;
}
.product-details{    
    margin-top: 20px;
}
.header-content-inner h1{
    color: #6c3;
}

@media (min-width: 768px){
header .header-content .header-content-inner {
margin-top: 0px;    
}
}