<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Isabelle Defremont</h2>
                <hr class="light">
                <p class="text-faded">Créatrice et poètesse, travaille avec les graines d'Amazonie, sa principal source d'inspiration est la fôret et l'esprit libre féminin dans les ambiances exotiques, styles indigènes et marajoara qui nous conduit à rêver avec la poèsie et art unique. Elle souhaite apporter une réponse positive très personnel pour les amateurs de l'art et poésie.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Plus sur moi</a> -->
            </div>
        </div>
    </div>
</section>
