<header>
<div class="header-content">
        <div class="header-content-inner">
            <h1>ART EN BIJOU</h1>
			 

            <hr>
            <p>Bijoux faites au sein d'une création unique en graines d'Amazonie, élaborés par la créatrice  Isabelle Defremont franco-brésilienne, passionnée d'artisanat et de poésies inspirées au coeur de la fôret dans l'univers conscient où la personnalité amazonique est vivante.
Univers dont l'Art et Poèsie sont des aspirations magnifiques liées à la création unique.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Voir les pièces</a>
        </div>
		
    </div>  
   
   

</header>
