<header>
<div class="header-content">
        <div class="header-content-inner">
            <h1>Art en Bijou</h1>
			 

            <hr>
            <p>Bijoux faits au sein d'une création inspirée par la diversité de l'Amazonie, élaborés par la créatrice Isabelle Defremont, franco-brésilienne passionnée d'artisanat et de poésie, fascinations dans l'univers où la personnalité de la fôret est toujours vivante.</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Voir les pièces</a>
        </div>
		
    </div>  
   
   

</header>
